{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block bootstrap3_extra_head %}
    <script>
        $(document).ready(function () {
            var url = window.location;
            $('ul.nav.navbar-nav li a[href="' + url.pathname + '"]').parent().addClass('active');
        });
    </script>
    <link rel="shortcut icon" href="{%  static 'sites/favicon.ico' %}">
    {{ form.media }}
{% endblock %}


{% block title %} Add Language {% endblock %}
{% block content %}
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- Insert form here -->
                <form action="{% url 'sites:add_language'%}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </form>
            </div>
            <div class="col-md-6">
                <p>
                    <!--Something will be here soon maybe.-->
                </p>
            </div>
        </div>
    <br />
    </div>

{% endblock %}
