{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Open edX Sites List {% endblock %}
{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Open edX Stats Dashboard</a>
            </div>
            <ul class="nav navbar-nav">
                <li href="/all"><a href="#">Sites List</a></li>
                <li class="active"><a href="#">Add/Update a Site</a></li>
                <li><a href="#">Generate Report</a></li>
                <li><a href="#">Etc etc etc</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <!-- Insert form here -->
        <form action="{% url 'sites:add_site'%}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}