{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    {{ form.media }}
{% endblock %}


{% block title %} Add Language {% endblock %}
{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Open edX Stats Dashboard</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/sites/all">Sites List</a></li>
                <li><a href="/sites/add_site">Add/Update a Site</a></li>
                <li class="active"><a href="/sites/add_language">Add Language</a></li>
                <li><a href="/sites/add_geozone">Add GeoZone</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- Insert form here -->
                <form action="{% url 'sites:add_language'%}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </form>
            </div>
            <div class="col-md-6">
                <p>
                    Something will be here soon maybe.
                </p>
            </div>
        </div>
    <br />
    </div>

{% endblock %}