{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    {{ form.media }}
{% endblock %}

{% block title %}{% endblock %}
{% block content %}
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- Insert form here -->
                <form action="{% url "sites:delete_site" pk=site.id %}" method="post" class="form">
                    {% csrf_token %}
                    <p>Are you sure you want to delete "{{ site.url }}"?</p>
                    <input type="submit" class="btn btn-default btn-danger" value="Delete"/>
                    <button class="btn btn-default" value="Cancel">Cancel</button>
                </form>
            </div>
        </div>
        <br/>
    </div>
{% endblock %}
