{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block bootstrap3_extra_head %}
    <script>
        $(document).ready(function () {
            var url = window.location;
            $('ul.nav.navbar-nav li a[href="' + url.pathname + '"]').parent().addClass('active');
        });
    </script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
    <link rel="stylesheet" href="../../static/sites/MarkerCluster.css" />
	<link rel="stylesheet" href="../../static/sites/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>

    <link rel="shortcut icon" href="{%  static 'sites/favicon.ico' %}">

    <style>
        #map {
            height: 500px;
        }
    </style>
    {{ form.media }}
{% endblock %}

{% block title %}{% endblock %}
{% block content %}
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- Content -->
    <div class="container-fluid">

    <div id="map"></div>

    <script src="../../static/sites/leaflet.markercluster-src.js"></script>

    <script type="text/javascript">


      var tiles = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYnJ5YW5rbGUiLCJhIjoiY2pqMGNvdTc4MGYxMDNrcDE4a2c0Y3ltcyJ9.7KV9GmiOap9nsGiI12RGZg', {
        id: 'mapbox.streets',
        maxZoom: 5,
    }),
    latlng = new L.LatLng(25, 0);

var map = new L.Map('map', {center: latlng, zoom: 2, layers: [tiles]});

var markers = new L.MarkerClusterGroup();
var markersList = [];



var northAmericaCluster = new L.MarkerClusterGroup().addTo(map);
var southAmericaCluster = new L.MarkerClusterGroup().addTo(map);
var asiaCluster = new L.MarkerClusterGroup().addTo(map);
var africaCluster = new L.MarkerClusterGroup().addTo(map);
var europeCluster = new L.MarkerClusterGroup().addTo(map);
var oceaniaCluster = new L.MarkerClusterGroup().addTo(map);


function populate(entries) {
// Iterates through list of all entries examine each person one by one
// Extract the country data of each person
// Use country data and check against keyCountries to find continent
// Extract continent
// Extract coordinates
// console.log('entries', entries.userData)
for (var i = 0; i < entries.length; i++) {

    const data = entries[i];
    console.log(keyCountries);
    const country = data[2];
    const countryData = keyCountries[country];
    if (keyCountries.hasOwnProperty(country)) {
        //console.log('countryData', countryData)
        //console.log('countryData.geometry.coordinates', countryData.geometry.coordinates)
        console.log('Name: ', countryData.properties.name);
        const [lng, lat] = countryData.geometry.coordinates;
        const continent = countryData.properties.continent;
        const countryCluster = new L.MarkerClusterGroup();
        const marker = new L.marker({lat, lng}).addTo(countryCluster);

        if (continent === 'Asia') {
            asiaCluster.addLayer(countryCluster);
        }
        else if (continent === 'Africa') {
            africaCluster.addLayer(countryCluster);
        }
        else if (continent === 'South America') {
            southAmericaCluster.addLayer(countryCluster);
        }
        else if (continent === 'North America') {
            northAmericaCluster.addLayer(countryCluster);
        }
        else if (continent === 'Europe') {
            europeCluster.addLayer(countryCluster);
        }
        else if (continent === 'Oceania') {
            oceaniaCluster.addLayer(countryCluster);
        }
        else {
            console.log('Missing continents', continent)
        }
    }


    }
}

markers.on('clusterclick', function (a) {
alert('cluster ' + a.layer.getAllChildMarkers().length);
});
markers.on('click', function (a) {
alert('marker ' + a.layer);
});

map.addLayer(markers);


$.ajax({
    url: "{% url 'sites:sites_list_json' %}",
    dataType: 'json',
    success: function (data) {
        const entries = JSON.parse(data.my_list);
        entries.shift();
        console.log('entries', entries);
       populate(entries);
    }
  });
    </script>

    <script src="../../static/hawthorn_map/keyCountries.js"></script>
    <script src="../../static/hawthorn_map/main.js"></script>
    </div>
{% endblock %}


