{% extends "base.html" %}
{%  load static %}
{% block bootstrap3_extra_head %}
    <link rel="shortcut icon" href="{%  static 'sites/favicon.ico' %}">
    <script type="text/javascript" language="javascript" src="{% static 'sites/jquery.flot.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'sites/jquery.flot.time.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'sites/jquery.flot.axislabels.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'sites/moment.min.js' %}"></script>
    <!-- This script must be included in order to use POST requests! -->
    <script src="{% static 'sites/prepareAjax.js' %}"></script>
    <script>
        $(document).ready(function () {
            var url = window.location;
            $('ul.nav.navbar-nav li a[href="' + url.pathname + '"]').parent().addClass('active');
        });
    </script>

    <style>
        .table-align-right {
            width: auto;
            margin-right: 0px;
            margin-left: auto;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block title %} Over-Time Site and Course Statistics {% endblock %}

{% block content %}
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="otChart" class="container" style="width: 100%; height: 600px; font-size: 20px;"></div>
                <p class="text-center" style="padding: 20px;">
                    <em>*Public sites that have 0 courses are not counted and added towards total sites; private
                        instances are counted towards total sites.</em>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block bootstrap3_extra_script %}
    <script>
        window.onload = function () {
            // Grab CSRF token
            var csrftoken = getCSRFToken();

            // Declare vars
            var jsonToSend = {'csrfmiddlewaretoken': csrftoken};
            var otTimestamps = [];
            var otSites = [];
            var otCourses = [];
            var otNotes = [];

            // Grab data for chart
            function fetchSummaryData() {
                var jqxhr = $.post(
                    location.href,
                    jsonToSend,
                    function (data) {
                        for (var x in data) {
                            if (data[x].hasOwnProperty('fields')) {
                                for (var attr in data[x].fields) {
                                    if (data[x].fields.hasOwnProperty(attr)) {
                                        var value = data[x].fields[attr];
                                        // create data set for chart
                                        switch (attr) {
                                            case 'timestamp':
                                                otTimestamps.push(Math.round(new Date(value).getTime()));
                                                break;
                                            case 'num_sites':
                                                otSites.push(value);
                                                break;
                                            case 'num_courses':
                                                otCourses.push(value);
                                                break;
                                            case 'notes':
                                                otNotes.push(value);
                                                break;
                                            default:
                                                console.error("This was not a field: " + attr + ": " + data[x].fields[attr]);
                                        }
                                    }
                                }
                            }
                        }
                        initializeChart();
                    }
                );
            }

            // Initialize chart
            function initializeChart() {
                // Create chart
                var sites = [];
                var courses = [];
                for (x in otSites) {
                    sites.push([otTimestamps[x], otSites[x]]);
                    courses.push([otTimestamps[x], otCourses[x]]);
                }
                $.plot("#otChart", [
                    {data: sites, label: "Sites", color: "#0000ff"},
                    {data: courses, label: "Courses", yaxis: 2, color: "#ff0000"}
                ], {
                    series: {
                        lines: {
                            show: true
                        },
                        points: {
                            show: false
                        }
                    },
                    grid: {
                        hoverable: true,
                        clickable: true
                    },
                    xaxes: [{mode: "time"}],
                    yaxes: [
                        {
                            min: 0,
                            position: 'left',
                            axisLabel: "Sites",
                            axisLabelUseCanvas: true,
                            axisLabelPadding: 15,
                            axisLabelFontSizePixels: 20,
                            font: {
                                color: "#0000ff"
                            }
                        },
                        {
                            min: 0,
                            alignTicksWithAxis: true,
                            position: 'right',
                            axisLabel: "Courses",
                            axisLabelUseCanvas: true,
                            axisLabelPadding: 15,
                            axisLabelFontSizePixels: 20,
                            font: {
                                color: "#ff0000"
                            }
                        }
                    ],
                    legend: {position: "nw"}
                });

                // Enable tooltip on point hover
                $("<div id='tooltip'></div>").css({
                    position: "absolute",
                    display: "none",
                    border: "1px solid #fdd",
                    padding: "2px",
                    "background-color": "#fee",
                    opacity: 0.80
                }).appendTo("body");
                $("#otChart").bind("plothover", function (event, pos, item) {
                    if (item) {
                        var x = item.datapoint[0], y = item.datapoint[1];
                        $("#tooltip").html(moment(x).format("MM-DD-YYYY") + ": " + y + " " + item.series.label)
                                .css({top: item.pageY + 5, left: item.pageX + 5})
                                .fadeIn(200);
                    } else {
                        $("#tooltip").hide();
                    }
                });
            }

            // Execute
            fetchSummaryData();
        }
    </script>
{% endblock %}
