{% extends "base.html" %}
{% load staticfiles %}
{% block title %} {% endblock %}
{% block bootstrap3_extra_head %}

<link rel="shortcut icon" href="{%  static 'sites/favicon.ico' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
<link rel="stylesheet" href="{% static 'sites/screen.css' %}" />
<link rel="stylesheet" href="{% static 'sites/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'sites/MarkerCluster.Default.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.css"/>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>
<script type="text/javascript" language="javascript" src="{% static 'sites/leaflet.markercluster-src.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'sites/allCountries.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.js"></script>
{% endblock %}
{% block content %}
{% include "navbar.html" %}

<body>
        <style>
                #map {
                    width: 48%;
                    height: 500px;
                    border: 1px solid #ccc;
                    float: left;
                }
                .table-container {
                    margin-left: 20px;
                    width: 49%;
                    float: left;
                }

                .dataTables_wrapper .dataTables_filter {
                    float: right;
                    text-align: right;
                    visibility: hidden;
                }
                .leaflet-overlay-pane {
                    z-index: 1; /* previously 4 */
                }
        </style>
        <h1 id='country-name'></h1>
        <div id="map">
        </div>
        <script type="text/javascript">
            let fetchCountries;
            $(document).ready(function () {
                // Nav active class selection
                var url = window.location;
                $('ul.nav.navbar-nav li a[href="' + url.pathname + '"]').parent().addClass('active');
                // Tooltips
                $('[data-toggle="tooltip"]').tooltip();
                // Table sorting

                /**
                * isCurrentVersion
                * Determine rendering of green check box based on whether site is of the current version based on the sites active end date for each row
                */
                isCurrentVersion = activeEndDate => activeEndDate ? '<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green; font-size: 30px;"></span>' : ''

                /**
                * renderActionButtons
                * Accepts arguments of the site ID and the website's active end date to determine which buttons to render inside the row under column 'Actions'
                * At minimum will render the button for 'Detail' and 'Delete', 'Update' will be rendered if website is still active.
                */
                renderActionButtons = (siteId, activeEndDate) => {
                    const detail_site = `<td class="action-button-cell"><a href="/sites/site_detail/${siteId}"><button type="button" class="btn btn-primary" aria-label="Detail" data-toggle="tooltip" data-placement="bottom" title="Detail"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></button></a></td>`
                    const update_site = `<td class="action-button-cell"><a href="/sites/update_site/${siteId}"><button type="button" class="btn btn-primary" aria-label="Edit" data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></a></td>`
                    const delete_site = `<td class="action-button-cell"><a href="/sites/delete_site/${siteId}"><button type="button" class="btn btn-danger" aria-label="Delete" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon glyphicon-trash"></span></button></a></td>`
                    return `<td style="width: 1%; vertical-align: middle;"><table><tr>${detail_site + (!activeEndDate ? update_site : '') + delete_site}</tr></table></td>`
                }

                /**
                * renderUrlString
                * Converts site URL into HTML link tag
                */
                renderUrlString = url => `<a href="${url}">${url}</a>`

                /**
                * Datatables configuration
                * Data is retrieved the API end point served from the view 'sites_list_json' (see views.py)
                */
                const sitesTable = $('#sites').DataTable({
                    "searching": true,
                    "processing": true,
                    "ajax":{
                        // Communicating to API endpoint serving JSON data from database
                        "url":"{% url 'sites:sites_list_json' %}",
                        // Formatting data for DataTables
                        "dataSrc": json => {
                            const sites = JSON.parse(json.sites);
                            const siteGeolocation = {};
                            const geoData = JSON.parse(json.geo);
                            geoData.forEach(geoLoc => {
                                siteGeolocation[geoLoc.fields.site] = geoLoc.fields.geo_zone;
                            })
                            const siteLanguage = {}
                            const languageData = JSON.parse(json.language);
                            languageData.forEach(lang => {
                                siteLanguage[lang.fields.site] = lang.fields.language;
                            })

                            Object.keys(sites).forEach(siteID => {
                                const site = sites[siteID];
                                // Rendering of elements for columns 'Current Version?' & 'Actions'
                                site.fields['isCurrentVersion'] = isCurrentVersion(site.fields.active_end_date);
                                site.fields['actionButtons'] = renderActionButtons(site.pk, site.fields.active_end_date);
                                site.fields['urlString'] = renderUrlString(site.fields.url);
                                const sitePK = sites[siteID].pk
                                site.fields['geolocation'] = siteGeolocation[sitePK] ? siteGeolocation[sitePK] : '';
                                site.fields['language'] = siteLanguage[sitePK] ? siteLanguage[sitePK] : '';
                            });
                            return sites;
                        }},
                    // Data for each row item from JSON
                    "columns": [
                         { "data": "fields.site_type" },
                         { "data": "fields.name" },
                         { "data": "fields.urlString" },
                         { "data": "fields.course_count" },
                         { "data": "fields.geolocation", "visible": true },
                         { "data": "fields.notes", "visible": false },
                         { "data": "fields.language", "visible": false },
                         { "data": "fields.aliases", "visible": false }
                    ]
                });
            });

            const tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 5,
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }),
                latlng = new L.LatLng(0, 0);
            const map = new L.Map('map', {center: latlng, zoom: 2, layers: [tiles]});

            addClusterToMap = (cluster, layer) => {
                cluster.addTo(layer);
            }
            clusterOnClick = cluster => {
                cluster.on('clusterclick', layer => {
                    let {lat, lng} = layer.latlng;
                    lat = lat.toFixed(1);
                    lng = lng.toFixed(1);
                    const coordString = `${lat},${lng}`;
                    const countryName = coordinateTable[coordString].properties.name;
                    const countryHeader = document.getElementById('country-name');
                    while (countryHeader.firstChild) {
                        countryHeader.removeChild(countryHeader.firstChild);
                    }
                    const countryText = document.createTextNode(countryName);
                    countryHeader.appendChild(countryText);

                    const table = $('#sites').DataTable();
                    table
                            .column(4)
                            .search(countryName)
                            .draw();
                    })
            }

            const allClusters = [
                northAmericaCluster = new L.MarkerClusterGroup(),
                southAmericaCluster = new L.MarkerClusterGroup(),
                asiaCluster = new L.MarkerClusterGroup(),
                africaCluster = new L.MarkerClusterGroup(),
                europeCluster = new L.MarkerClusterGroup(),
                oceaniaCluster = new L.MarkerClusterGroup()
            ];

            allClusters.forEach(cluster => {
                addClusterToMap(cluster, map);
                clusterOnClick(cluster);
            })

            function populate() {
                for (var i = 0; i < countries.features[0].features.length; i++) {
                    const countryData = countries.features[0].features[i];
                    const [lng, lat] = countryData.geometry.centroid
                    const { total_course_count, continent, name } = countries.features[0].features[i].properties
                    let countryCluster = new L.MarkerClusterGroup();
                    countryCluster.name = name

                    // Populates country by number of markers one by one
                    for (let j = 0; j < total_course_count; j++) {
                        var m = new L.marker({lat, lng, opacity: 0.1}).addTo(countryCluster);
                    }

                    switch(continent) {
                        case 'Asia':
                            asiaCluster.addLayer(countryCluster);
                            break;
                        case 'Africa':
                            africaCluster.addLayer(countryCluster);
                            break;
                        case 'South America':
                            southAmericaCluster.addLayer(countryCluster);
                            break;
                        case 'North America':
                            northAmericaCluster.addLayer(countryCluster);
                            break;
                        case 'Europe':
                            europeCluster.addLayer(countryCluster);
                            break;
                        case 'Oceania':
                            oceaniaCluster.addLayer(countryCluster);
                            break;
                    }
                }
            }
            populate()
        </script>

        <div class="table-container">
            <table id="sites" class="table table-bordered table-responsive table-sm">
                <thead>
                <tr>
                    <th>Site Type</th>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Course Count</th>
                    <th>Geolocation</th>
                <th>Notes</th>
                <th>Language</th>
                <th>Aliases</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Site Type</th>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Course Count</th>
                    <th>Geolocation</th>
                <th>Notes</th>
                <th>Language</th>
                <th>Aliases</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </body>

{% endblock %}
