{% extends "base.html" %}
{%  load staticfiles %}
{% block bootstrap3_extra_head %}
    <link rel="shortcut icon" href="{%  static 'sites/favicon.ico' %}">
    <script>
        $(document).ready(function () {
            var url = window.location;
            $('ul.nav.navbar-nav li a[href="' + url.pathname + '"]').parent().addClass('active');
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <style>
        .table-align-right {
            width: auto;
            margin-right: 0px;
            margin-left: auto;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block title %} Site Detail {% endblock %}

{% block content %}
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!--<h1>Site Detail</h1>-->
            </div>
            <div class="col-md-6">
                <table class="table-align-right">
                    <tr>
                        <td>
                            {% if site.active_end_date == None %} <!-- Only most recent version has update link -->
                                <a href="/sites/update_site/{{ site.pk }}">
                                    <button type="button" class="btn btn-default btn-primary" aria-label="Edit"
                                            data-toggle="tooltip"
                                            data-placement="top" title="Edit">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                                    </button>
                                </a>
                            {% endif %}
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <a href="/sites/delete_site/{{ site.pk }}">
                                <button type="button" class="btn btn-default btn-danger" aria-label="Delete"
                                        data-toggle="tooltip"
                                        data-placement="top" title="Delete">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </button>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-responsive">
                    <tr>
                        <th>Site Type</th>
                        <td>{{ site.site_type }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ site.name }}</td>
                    </tr>
                    <tr>
                        <th>URL</th>
                        <td><a href="{{ site.url }}"> {{ site.url }}</a></td>
                    </tr>
                    <tr>
                        <th>Private Instance?</th>
                        <td>{{ site.is_private_instance }}</td>
                    </tr>
                    <tr>
                        <th>Course Count</th>
                        <td>{{ site.course_count|default_if_none:"" }}</td>
                    </tr>
                    <tr>
                        <th>Org Type</th>
                        <td>{{ site.org_type }}</td>
                    </tr>
                    <tr>
                        <th>Language</th>
                        <td>{% for site_language in site.language.all %}{{ site_language.pk }} {% endfor %}</td>
                    </tr>
                    <tr>
                        <th>Geography</th>
                        <td>{% for site_geozone in site.geography.all %}{{ site_geozone.pk }} {% endfor %}</td>
                    </tr>
                    <tr>
                        <th>Github Fork</th>
                        <td>{{ site.github_fork }}</td>
                    </tr>
                    <tr>
                        <th>Notes</th>
                        <td>{{ site.notes }}</td>
                    </tr>
                    <tr>
                        <th>Course Type</th>
                        <td>{{ site.course_type }}</td>
                    </tr>
                    <tr>
                        <th>Registered User Count</th>
                        <td>{{ site.registered_user_count|default_if_none:"" }}</td>
                    </tr>
                    <tr>
                        <th>Active Learner Count</th>
                        <td>{{ site.active_learner_count|default_if_none:"" }}</td>
                    </tr>
                    <tr>
                        <th>Record Active Start Date</th>
                        <td>{{ site.active_start_date }}</td>
                    </tr>
                    <tr>
                        <th>Record Active End Date</th>
                        <td>{{ site.active_end_date }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
