{% extends "base.html" %}
{% load static %}
{% block title %} Open edX Sites List {% endblock %}
{% block bootstrap3_extra_head %}
    <link rel="shortcut icon" href="{%  static 'sites/favicon.ico' %}">
    <style type="text/css">
        .action-button-cell {
            padding-left: 2px;
            padding-right: 2px;
        }
        .extra-padding-10 {
            padding-top: 5px;
            padding-bottom: 15px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            // Nav active class selection
            var url = window.location;
            $('ul.nav.navbar-nav li a[href="' + url.pathname + '"]').parent().addClass('active');
            // Tooltips
            $('[data-toggle="tooltip"]').tooltip();
            // Table sorting

            //    isCurrentVersion
            //    Determine rendering of green check box based on whether site is of the current version based on the sites active end date for each row
            isCurrentVersion = activeEndDate => activeEndDate ? '' : '<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green; font-size: 30px;"></span>'

            //    renderActionButtons
            //    Accepts arguments of the site ID and the website's active end date to determine which buttons to render inside the row under column 'Actions'
            //    At minimum will render the button for 'Detail' and 'Delete', 'Update' will be rendered if website is still active.
            function renderActionButtons(siteId, activeEndDate) {
                const detail_site = `<td class="action-button-cell"><a href="/sites/site_detail/${siteId}"><button type="button" class="btn btn-primary" aria-label="Detail" data-toggle="tooltip" data-placement="bottom" title="Detail"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></button></a></td>`
                const update_site = `<td class="action-button-cell"><a href="/sites/update_site/${siteId}"><button type="button" class="btn btn-primary" aria-label="Edit" data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></a></td>`
                const delete_site = `<td class="action-button-cell"><a href="/sites/delete_site/${siteId}"><button type="button" class="btn btn-danger" aria-label="Delete" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon glyphicon-trash"></span></button></a></td>`
                return `<td style="width: 1%; vertical-align: middle;"><table><tr>${detail_site + (!activeEndDate ? update_site : '') + delete_site}</tr></table></td>`
            }

            //  renderUrlString
            //  Converts site URL into HTML link tag
            renderUrlString = url => `<a href="${url}">${url}</a>`

            //    Datatables configuration
            //    Data is retrieved the API end point served from the view 'sites_list_json' (see views.py)
            var sitesTable = $('#sites').DataTable({
                "processing": true,
                "ajax":{
                    // Communicating to API endpoint serving JSON data from database
                    "url":"{% url 'sites:sites_list_json' %}{% if all %}?all=1&lang=1&geo=1{% endif %}",
                    "dataSrc": function(json) {                // Formatting data to be compatible with DataTables
                        const data = JSON.parse(json.sites);

                        {% if all %}
                        const siteGeolocation = {};
                        const geoData = JSON.parse(json.geo);
                        geoData.forEach(function(geoLoc) {
                            siteGeolocation[geoLoc.fields.site] = geoLoc.fields.geo_zone;
                        })

                        const siteLanguage = {}
                        const languageData = JSON.parse(json.language);
                        languageData.forEach(function(lang) {
                            siteLanguage[lang.fields.site] = lang.fields.language;
                        })
                        {% endif %}

                        Object.keys(data).forEach(function(siteID) {
                            const site = data[siteID];
                            site.fields['actionButtons'] = renderActionButtons(site.pk, site.fields.active_end_date);
                            site.fields['urlString'] = renderUrlString(site.fields.url);
                            {% if all %}
                            site.fields['isCurrentVersion'] = isCurrentVersion(site.fields.active_end_date);
                            const sitePK = data[siteID].pk
                            site.fields['geolocation'] = siteGeolocation[sitePK] ? siteGeolocation[sitePK] : '';
                            site.fields['language'] = siteLanguage[sitePK] ? siteLanguage[sitePK] : '';
                            {% endif %}
                        });
                        return data;
                    }},
                "columns": [                                    // Data for each row item from JSON
                     { "data": "fields.site_type" },
                     { "data": "fields.name" },
                     { "data": "fields.urlString" },
                     { "data": "fields.course_count" },
                     { "data": "fields.active_start_date" },
                    {% if all %}
                     { "data": "fields.active_end_date" },
                     { "data": "fields.is_gone" },
                     { "data": "fields.isCurrentVersion" },
                     { "data": "fields.geolocation", "visible": false },
                     { "data": "fields.notes", "visible": false },
                     { "data": "fields.language", "visible": false },
                    {% endif %}
                     { "data": "fields.actionButtons" }
                ]
            });

            // Filtering
            $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
                {% if all %}
                var goodDate, goodCourses, goodSite;

                var latestOnly = $("#latestOnly").prop("checked") && !$('#dateInput').val();
                if (latestOnly) {
                    goodDate = isNaN(Date.parse(data[5]));
                }
                else {
                    goodDate = Date.parse(data[4]) <= Date.parse($('#dateInput').val() || data[4])
                        && (Date.parse($('#dateInput').val() || data[5]) <= Date.parse(data[5])
                            || isNaN(Date.parse(data[5])));
                }

                var hideZeros = $("#hideZeros").prop("checked");
                if (hideZeros) {
                    goodCourses = data[3] !== "0";
                }
                else {
                    goodCourses = true;
                }

                var hideGone = $("#hideGone").prop("checked");
                if (hideGone) {
                    goodSite = data[6] === "false";
                }
                else {
                    goodSite = true;
                }

                return goodDate && goodCourses && goodSite;
                {% else %}
                return true;
                {% endif %}
            });
            $('#dateSearchButton').on('click', sitesTable.draw);
            $('#latestOnly').on('click', sitesTable.draw);
            $('#hideZeros').on('click', sitesTable.draw);
            $('#hideGone').on('click', sitesTable.draw);
            $('#dateInput').keyup(function (e) {
                if (e.keyCode == 13) {
                    sitesTable.draw()
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if all %}
                <p>
                    Use the date search bar to enter a datetime <em>(YYYY-MM-DD HH:MM)</em> you wish to see a list of
                    sites active at that time for. For instance, if you enter <em>2016-04-03 05:37</em>, the version of
                    each site that was 'current' at that time will be displayed. You may also use <em>YYYY-MM-DD</em>
                    format for less precise searching. If you enter any date in the future, you will be returned all of
                    the most current site versions. If you want to see all versions of a single site, try entering
                    its name (or better yet, URL) into the generic search bar on the right. Use the links above to
                    perform other actions like adding a new site or site version, language, or geozone.
                </p>
                {% else %}
                <p>Historical, language, and geographic data is on the <a href="/sites/all">/sites/all</a> page.</p>
                {% endif %}
                <p style="font-weight: bold;">
                    Comprehensive documentation and source code can be found <a target="_blank"
                        href="https://github.com/openedx/openedxstats">here</a>.
                </p>
            </div>
        </div>
        {% if all %}
        <div class="row extra-padding-10">
            <div class="col-md-4">
                <div class="input-group">
                    <input id="dateInput" type="text" class="form-control" placeholder="YYYY-MM-DD HH:MM">
                    <span class="input-group-btn">
                        <button id="dateSearchButton" class="btn btn-primary" type="button" aria-label="Search Date">
                            Search Date
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <input id="latestOnly" type="checkbox" value="Latest Only" checked="checked"> Latest Only
            </div>
            <div class="col-md-2">
                <input id="hideZeros" type="checkbox" value="Hide Zeros" checked="checked"> Hide Zeros
            </div>
            <div class="col-md-2">
                <input id="hideGone" type="checkbox" value="Hide Gone" checked="checked"> Hide Gone
            </div>
        </div>
        {% endif %}
        <table id="sites" class="table table-bordered table-responsive table-sm">
            <thead>
            <tr>
                <th>Site Type</th>
                <th>Name</th>
                <th>Url</th>
                <th>Course Count</th>
                <th>Active Version Start</th>
                {% if all %}
                <th>Active Version End</th>
                <th>Is gone?</th>
                <th>Current Version?</th>
                <th>Geolocation</th>
                <th>Notes</th>
                <th>Language</th>
                {% endif %}
                <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Site Type</th>
                <th>Name</th>
                <th>Url</th>
                <th>Course Count</th>
                <th>Active Version Start</th>
                {% if all %}
                <th>Active Version End</th>
                <th>Is gone?</th>
                <th>Current Version?</th>
                <th>Geolocation</th>
                <th>Notes</th>
                <th>Language</th>
                {% endif %}
                <th>Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
