{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block bootstrap3_extra_head %}
    <link rel="shortcut icon" href="{%  static 'sites/favicon.ico' %}">
    {{ form.media }}
{% endblock %}


{% block title %} Update Site {% endblock %}
{% block content %}
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!-- Insert form here -->
                <form action="{% url 'sites:update_site' pk=site.id %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-primary" value="Update"/>
                    <a href="{% url "sites:sites_list" %}">
                        <button type="button" class="btn btn-default" value="Cancel">Cancel</button>
                    </a>
                </form>
            </div>
        </div>
        <br/>
    </div>
{% endblock %}
