# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

# Common constraints for edx repos

-c common_constraints.txt

# botocore requires urrlib3<2.0 for Python<3.10
# For further details, see the issue https://github.com/boto/botocore/issues/2926
# This can be removed once botocore fixes the issue or we jump to Python 3.10
urllib3<2.0.0
